.alert-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    box-sizing: border-box;
    padding: 20px;
    grid-gap: 10px;
    border: 2px solid black;
}

.alert-time {
    display: grid;
    justify-items: end;
    align-items: center;
}

.alert-details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    justify-items: start;
}

.alert-btn-container {
    display: grid;
    place-items: center;
}

.alert-details *:nth-child(even) {
    font-weight: bold;
    justify-self: start;
}